body {
    margin: 0;

    background: url("../img/pattern.png");
    
    font-family: Tahoma;
    line-height: 1.5;
    font-size: 18px;
}

.card {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 20px;
    text-align: center;
    color: #a21111;
}

.card-text {
    font-size: 15px;
}

.card-subtitle {
    font-size: 20px;
    color: #0f0b0b;
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}
